{{#resume.basics}}
<div class="intro">
  <h2>My name is</h2>
  <p class="highlight">{{name}}</p>
  <h2>and I am a</h2>
  <p class="highlight">{{label}}</p>
</div>
{{#if summary}}
<div class="info">
  <div class="inner">
    <h2>Who am I?</h2>
    <p>{{summary}}</p>
  </div>
</div>
{{/if}}
{{/resume.basics}}

{{#if resume.basics.profiles.length}}
<div class="social-media">
  <div class="inner">
    <h2>Stalk me</h2>
    <div class="flex-list">
      {{#each resume.basics.profiles}}
      <div class="item">
        {{#if network}}
        <h1 class="network">
          {{network}}
        </h1>
        {{/if}}
        {{#if username}}
        <div class="username">

          {{#if url}}
          <a href="{{url}}">
            {{/if}}
            {{username}}
            {{#if url}}
          </a>
          {{/if}}
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/if}}
{{#if resume.awards.length}}
<div class="achievements">
  <div class="inner">
    <h2>Achievements</h2>
    <div class="flex-list">
      {{#each resume.awards}}
      <div class="achievement" {{#if date}} data-date="{{date}}" {{/if}}>
        <div>
          {{#if title}}
          <h1 class="title">
            {{title}}
          </h1>
          {{/if}}
          {{#if awarder}}
          <p class="awarder">
            {{awarder}}
          </p>
          {{/if}}
          {{#if summary}}
          <p class="summary">
            {{summary}}
          </p>
          {{/if}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/if}}
{{#if resume.interests.length}}
<div class="interests">
  <div class="inner">
    <h2>Interests</h2>
    <div class="flex-list">
      {{#each resume.interests}}
      <div class="item">
        {{#if name}}
        <h1 class="name">
          {{name}}
        </h1>
        {{/if}}
        {{#if keywords.length}}
        <ul class="keywords">
          {{#each keywords}}
          <li>{{.}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{/each}}</div>
  </div>
</div>
{{/if}}
{{#if resume.skills.length}}
<div class="skills">
  <div class="inner">
    <h2>Skills</h2>
    <div class="flex-list">
      {{#each resume.skills}}
      <div class="item">
        {{#if name}}
        <h1 class="name">
          {{name}}
        </h1>
        {{/if}}
        {{#if level}}
        <div class="level">
          <em>{{level}}</em>
        </div>
        {{/if}}
        {{#if keywords.length}}
        <ul class="keywords">
          {{#each keywords}}
          <li>{{.}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/if}}
{{#if resume.languages.length}}
<div class="languages">
  <h2>Languages</h2>
  {{#each resume.languages}}
  <div class="item">
    {{#if language}}
    <div class="language">
      {{language}}
    </div>
    {{/if}}
    {{#if fluency}}
    <div class="fluency">
      <em>{{fluency}}</em>
    </div>
    {{/if}}
  </div>
  {{/each}}
</div>
{{/if}}